### ğŸ§  **ë¨¸ì‹ ëŸ¬ë‹ ì‹¤ìŠµ - ë¶„ë¥˜**

ë¨¸ì‹ ëŸ¬ë‹(ML) : ë°ì´í„°ë¥¼ í•™ìŠµí•˜ê³  íŒ¨í„´ì„ ë°œê²¬í•˜ì—¬ ì˜ì‚¬ê²°ì •ì„ í•˜ëŠ” ì¸ê³µì§€ëŠ¥ ë¶„ì•¼

#### ğŸ“Š **ë¨¸ì‹ ëŸ¬ë‹ ì ˆì°¨**
1. ë¬¸ì œ ì •ì˜ (ë¬¸ì œë¥¼ ì½ê³  íŒŒì•…)
2. í•„ìš”í•œ ë¼ì´ë¸ŒëŸ¬ë¦¬ ë° ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸° (import)
3. EDA(íƒìƒ‰ì  ë°ì´í„° ë¶„ì„)
    - ë°ì´í„° ìƒ˜í”Œ/í¬ê¸°(ìë£Œí˜•, í†µê³„ëŸ‰(ìˆ˜ì¹˜/ë²”ì£¼)), ê²°ì¸¡ì¹˜ í™•ì¸ ë“±
4. ë°ì´í„° ì „ì²˜ë¦¬ 
    - ê²°ì¸¡ì¹˜ ë° ì´ìƒì¹˜ ì²˜ë¦¬, ì¸ì½”ë”©, ìŠ¤ì¼€ì¼ë§ ë“±
5. ê²€ì¦ ë°ì´í„° ë‚˜ëˆ„ê¸°
6. ëª¨ë¸ í•™ìŠµ ë° í‰ê°€
7. ì˜ˆì¸¡ ë° ê²°ê³¼ íŒŒì¼ ìƒì„±



| ë³€ìˆ˜ëª…      | ì˜ë¯¸                                  |
|-------------|----------------------------------------|
| x_train     | í•™ìŠµìš© ì…ë ¥ ë°ì´í„°(íŠ¹ì§•, í”¼ì²˜)             |
| y_train     | í•™ìŠµìš© ì •ë‹µ ë°ì´í„°(ë ˆì´ë¸”, íƒ€ê¹ƒ)            |
| x_test      | í…ŒìŠ¤íŠ¸ìš© ì…ë ¥ ë°ì´í„°(íŠ¹ì§•, í”¼ì²˜)            |
| y_test      | í…ŒìŠ¤íŠ¸ìš© ì •ë‹µ ë°ì´í„°(ë ˆì´ë¸”, íƒ€ê¹ƒ)          |


---
#### **1. ë¬¸ì œ ì •ì˜**

**[ë¬¸ì œ]**
- ë°ì´í„° : ë¯¸êµ­ì˜ ì¸êµ¬ ì¡°ì‚¬ ë°ì´í„°
- ì˜ˆì¸¡í•  ê°’ : ê° ì‚¬ëŒì˜ ì†Œë“
    - `income`(ì†Œë“) ì»¬ëŸ¼ì€ ì—°ì†Œë“ì´ 50K ì´ìƒ/ë¯¸ë§Œìœ¼ë¡œ êµ¬ë¶„ë¨.
- í‰ê°€ ê¸°ì¤€ : ROC-AUC
- ì œì¶œ íŒŒì¼ : ì˜ˆì¸¡ê°’ë§Œ 'result.csv' íŒŒì¼ë¡œ ìƒì„±í•¨. (ì»¬ëŸ¼ëª…: pred, 1ê°œ)

---


#### **2. í•„ìš”í•œ ë¼ì´ë¸ŒëŸ¬ë¦¬ ë° ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°**

In [208]:
import pandas as pd

In [209]:
test = pd.read_csv('test.csv')
train = pd.read_csv('train.csv')

---
#### **3. EDA (íƒìƒ‰ì  ë°ì´í„° ë¶„ì„)**

In [210]:
train.head()

,id,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,3331,34.0,State-gov,177331,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,Black,Male,4386,0,40.0,United-States,>50K
1,19749,58.0,Private,290661,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40.0,United-States,<=50K
2,1157,48.0,Private,125933,Some-college,10,Widowed,Exec-managerial,Unmarried,Black,Female,0,1669,38.0,United-States,<=50K
3,693,58.0,Private,100313,Some-college,10,Married-civ-spouse,Protective-serv,Husband,White,Male,0,1902,40.0,United-States,>50K
4,12522,41.0,Private,195661,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,54.0,United-States,<=50K

In [211]:
test.head()

,id,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country
0,11574,39.0,State-gov,114055,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,40.0,United-States
1,15847,38.0,Private,254114,Some-college,10,Married-spouse-absent,Prof-specialty,Own-child,Black,Female,0,0,40.0,United-States
2,17655,44.0,State-gov,55395,HS-grad,9,Never-married,Craft-repair,Not-in-family,White,Male,0,0,NaN,United-States
3,19790,47.0,Private,28035,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50.0,United-States
4,31812,62.0,NaN,186611,HS-grad,9,Never-married,NaN,Not-in-family,White,Male,0,0,40.0,United-States

In [212]:
## ë°ì´í„°ì˜ í¬ê¸° íŒŒì•…í•˜ê¸° (í–‰, ì—´ ê°œìˆ˜)
print(train.shape)
print(test.shape)

# trainì˜ column ê°œìˆ˜ëŠ” testë³´ë‹¤ 1ê°œ ë§ì„ ìˆ˜ë°–ì— ì—†ìŒ.
# test ë°ì´í„°ì—ëŠ” testì˜ ì •ë‹µ ë°ì´í„°(income) columnì´ í¬í•¨ë˜ì–´ ìˆì§€ ì•Šê¸° ë•Œë¬¸ì„.

(29304, 16)
(3257, 15)

In [213]:
## ë°ì´í„°ì˜ ì •ë³´ íŒŒì•…í•˜ê¸°
print(train.info())

# object ë²”ì£¼ ìë£Œí˜• -> ìˆ˜ì¹˜í˜•ìœ¼ë¡œ ë³€í™˜í•˜ëŠ” ê³¼ì •ì´ í•„ìˆ˜.
# int, float ìˆ˜ì¹˜ ìë£Œí˜• -> ìŠ¤ì¼€ì¼ë§ ê³¼ì • í•„ìš” ê°€ëŠ¥ì„± ë†’ìŒ.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29304 entries, 0 to 29303
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              29304 non-null  int64
 1   age             29292 non-null  float64
 2   workclass       27642 non-null  object
 3   fnlwgt          29304 non-null  int64
 4   education       29304 non-null  object
 5   education.num   29304 non-null  int64
 6   marital.status  29304 non-null  object
 7   occupation      27636 non-null  object
 8   relationship    29304 non-null  object
 9   race            29304 non-null  object
 10  sex             29304 non-null  object
 11  capital.gain    29304 non-null  int64
 12  capital.loss    29304 non-null  int64
 13  hours.per.week  29291 non-null  float64
 14  native.country  28767 non-null  object
 15  income          29304 non-null  object
dtypes: float64(2), int64(5), object(9)
memory usage: 3.6+ MB
None

In [214]:
print(test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3257 entries, 0 to 3256
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              3257 non-null   int64
 1   age             3251 non-null   float64
 2   workclass       3083 non-null   object
 3   fnlwgt          3257 non-null   int64
 4   education       3257 non-null   object
 5   education.num   3257 non-null   int64
 6   marital.status  3257 non-null   object
 7   occupation      3082 non-null   object
 8   relationship    3257 non-null   object
 9   race            3257 non-null   object
 10  sex             3257 non-null   object
 11  capital.gain    3257 non-null   int64
 12  capital.loss    3257 non-null   int64
 13  hours.per.week  3248 non-null   float64
 14  native.country  3211 non-null   object
dtypes: float64(2), int64(5), object(8)
memory usage: 381.8+ KB
None

In [215]:
## ê²°ì¸¡ì¹˜ íŒŒì•…
train.isnull().sum()

# ê²°ì¸¡ì¹˜ê°€ ìˆì„ ê²½ìš°, ëŒ€ì²´ê°€ í•„ìš”í•¨.
# ìµœëŒ“ê°’, ìµœì†Ÿê°’, ìµœë¹ˆê°’, íƒ€ ë°ì´í„° ê°’ ë“±ë“± ìƒí™©ì— ì ì ˆí•œ ê°’ìœ¼ë¡œ ëŒ€ì¹˜.

id                   0
age                 12
workclass         1662
fnlwgt               0
education            0
education.num        0
marital.status       0
occupation        1668
relationship         0
race                 0
sex                  0
capital.gain         0
capital.loss         0
hours.per.week      13
native.country     537
income               0
dtype: int64

In [216]:
test.isnull().sum()

id                  0
age                 6
workclass         174
fnlwgt              0
education           0
education.num       0
marital.status      0
occupation        175
relationship        0
race                0
sex                 0
capital.gain        0
capital.loss        0
hours.per.week      9
native.country     46
dtype: int64

In [217]:
## ê¸°ì´ˆ í†µê³„ëŸ‰ í™•ì¸
train.describe()

,id,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week
count,29304.000000,29292.000000,2.930400e+04,29304.000000,29304.000000,29304.000000,29291.000000
mean,16264.027880,38.553223,1.897488e+05,10.080842,1093.858722,86.744506,40.434229
std,9384.518323,13.628811,1.055250e+05,2.570824,7477.435640,401.518928,12.324036
min,0.000000,-38.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,8145.750000,28.000000,1.177890e+05,9.000000,0.000000,0.000000,40.000000
50%,16253.500000,37.000000,1.783765e+05,10.000000,0.000000,0.000000,40.000000
75%,24374.250000,48.000000,2.370682e+05,12.000000,0.000000,0.000000,45.000000
max,32560.000000,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

---
#### **4. ë°ì´í„° ì „ì²˜ë¦¬**

In [218]:
## ê²°ì¸¡ì¹˜ ì‚­ì œ

# train = train.dropna()
# print(train.shape)

ê²°ì¸¡ì¹˜ ëŒ€ì²´ (ë²”ì£¼í˜•)
- ë²”ì£¼í˜• ë°ì´í„°ëŠ” ì£¼ë¡œ ìµœë¹ˆê°’ìœ¼ë¡œ ëŒ€ì²´.
- trainì—ì„œ ê²°ì¸¡ì¹˜ ëŒ€ì²´í•œ ì»¬ëŸ¼ì€ testì—ì„œë„ ë™ì¼í•˜ê²Œ ì ìš©í•´ì•¼ í•¨.

In [219]:
## ê²°ì¸¡ì¹˜ ëŒ€ì²´
train['workclass'] = train['workclass'].fillna(train['workclass'].mode()[0])
train['native.country'] = train['native.country'].fillna(train['native.country'].mode()[0])
train['occupation'] = train['occupation'].fillna(train['occupation'].mode()[0])

test['workclass'] = test['workclass'].fillna(test['workclass'].mode()[0])
test['native.country'] = test['native.country'].fillna(test['native.country'].mode()[0])
test['occupation'] = test['occupation'].fillna(test['occupation'].mode()[0])

In [220]:
train.isnull().sum()

id                 0
age               12
workclass          0
fnlwgt             0
education          0
education.num      0
marital.status     0
occupation         0
relationship       0
race               0
sex                0
capital.gain       0
capital.loss       0
hours.per.week    13
native.country     0
income             0
dtype: int64

ê²°ì¸¡ì¹˜ ëŒ€ì²´ (ìˆ˜ì¹˜í˜•)
- ìˆ˜ì¹˜í˜• ë°ì´í„°ëŠ” ì ì ˆí•œ ê°’ìœ¼ë¡œ ëŒ€ì²´.

In [221]:
train['age'] = train['age'].fillna(train['age'].mean())
train['hours.per.week'] = train['hours.per.week'].fillna(train['hours.per.week'].median())

test['age'] = test['age'].fillna(test['age'].mean())
test['hours.per.week'] = test['hours.per.week'].fillna(test['hours.per.week'].median())

In [222]:
train.isnull().sum() # ê²°ì¸¡ì¹˜ ë‹¤ ì±„ì›Œì¡ŒëŠ”ì§€ í™•ì¸

id                0
age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
income            0
dtype: int64

In [223]:
test.isnull().sum()

id                0
age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
dtype: int64

ì´ìƒì¹˜ ì²˜ë¦¬
- `describe()`ë¡œ í™•ì¸
- ageê°€ ìŒìˆ˜ì¸ ê°’ì´ ìˆìœ¼ë¯€ë¡œ ì œê±°í•´ì•¼ í•¨. (ë‚˜ì´ëŠ” ìŒìˆ˜ ê°’ì´ ë‚˜ì˜¬ ìˆ˜ ì—†ìŒ.)
- testì—ëŠ” ageê°€ ìŒìˆ˜ì¸ ê°’ì´ ì—†ìŒ.
- í•­ìƒ ì½”ë“œ ì‹¤í–‰ í›„ `print(df.shape)`ë¥¼ í†µí•´ í™•ì¸í•˜ê¸°.

In [224]:
train.describe()

,id,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week
count,29304.000000,29304.000000,2.930400e+04,29304.000000,29304.000000,29304.000000,29304.000000
mean,16264.027880,38.553223,1.897488e+05,10.080842,1093.858722,86.744506,40.434036
std,9384.518323,13.626020,1.055250e+05,2.570824,7477.435640,401.518928,12.321306
min,0.000000,-38.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,8145.750000,28.000000,1.177890e+05,9.000000,0.000000,0.000000,40.000000
50%,16253.500000,37.000000,1.783765e+05,10.000000,0.000000,0.000000,40.000000
75%,24374.250000,48.000000,2.370682e+05,12.000000,0.000000,0.000000,45.000000
max,32560.000000,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [225]:
test.describe()

,id,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week
count,3257.000000,3257.000000,3.257000e+03,3257.000000,3257.000000,3257.000000,3257.000000
mean,16423.704943,38.802830,1.900447e+05,10.079214,931.804728,92.336199,40.466994
std,9535.416746,13.904759,1.057902e+05,2.590118,6496.962999,415.732721,12.581146
min,3.000000,17.000000,1.882700e+04,1.000000,0.000000,0.000000,1.000000
25%,8078.000000,28.000000,1.186520e+05,9.000000,0.000000,0.000000,40.000000
50%,16626.000000,37.000000,1.783190e+05,10.000000,0.000000,0.000000,40.000000
75%,24743.000000,48.000000,2.364360e+05,12.000000,0.000000,0.000000,45.000000
max,32559.000000,90.000000,1.033222e+06,16.000000,99999.000000,3900.000000,99.000000

In [226]:
print(train.shape)
train = train[train['age'] > 0]
print(train.shape)

(29304, 16)
(29301, 16)

#### **ì¸ì½”ë”©**



**ì›-í•« ì¸ì½”ë”©**
- ë²”ì£¼í˜• ë°ì´í„°ë¥¼ ìˆ˜ì¹˜í˜• ë°ì´í„°ë¡œ ë³€í™˜í•˜ëŠ” ê³¼ì •.
- ì›-í•« ì¸ì½”ë”© í›„ trainê³¼ testì˜ ì»¬ëŸ¼ ê°œìˆ˜ê°€ ë¶ˆì¼ì¹˜í•˜ë¯€ë¡œ ë°ì´í„° í•©ì¹˜ëŠ” ì‘ì—… í•„ìš”.

In [227]:
y_train = train.pop('income')
# pop()ì€ income ì»¬ëŸ¼ì„ y_trainì— ëŒ€ì…í•˜ê³ , income ì»¬ëŸ¼ì„ ì‚­ì œí•˜ëŠ” ì‘ì—… ë™ì‹œ ìˆ˜í–‰

In [228]:
# ì›-í•« ì¸ì½”ë”©
train_oh = pd.get_dummies(train)
test_oh = pd.get_dummies(test)
print(train.shape, train_oh.shape, test.shape, test_oh.shape)

(29301, 15) (29301, 106) (3257, 15) (3257, 102)

train_ohì™€ test_ohì˜ ì»¬ëŸ¼ ê°œìˆ˜ê°€ ë¶ˆì¼ì¹˜í•˜ë¯€ë¡œ ë°ì´í„° ë³‘í•©ì„ í†µí•´ ê°œìˆ˜ ì¼ì¹˜ì‹œí‚¤ëŠ” ì‘ì—…

In [229]:
print(train.shape, test.shape)
data = pd.concat([train, test], axis=0) # axis=0 : trainê³¼ test ìœ„ì•„ë˜ë¡œ ë³‘í•©
data_oh = pd.get_dummies(data)

train_oh = data_oh.iloc[:len(train)].copy() # train ë¶€ë¶„
test_oh = data_oh.iloc[len(train):].copy() # test ë¶€ë¶„
print(train_oh.shape, test_oh.shape)

(29301, 15) (3257, 15)
(29301, 106) (3257, 106)

**ë ˆì´ë¸” ì¸ì½”ë”©**
- ë²”ì£¼í˜• ë°ì´í„°ë¥¼ ìˆ˜ì¹˜í˜• ë°ì´í„°ë¡œ ë³€í™˜í•˜ëŠ” ê³¼ì •.
- ê° ê³ ìœ  ê°’ì„ ì •ìˆ˜ë¡œ ë§¤í•‘í•¨.

In [230]:
from sklearn.preprocessing import LabelEncoder

cols = train.select_dtypes(include='object').columns # ë²”ì£¼í˜• ë°ì´í„°ë§Œ ì„ íƒ

for col in cols :
    le = LabelEncoder()
    train[col] = le.fit_transform(train[col])
    test[col] = le.transform(test[col]) # í•™ìŠµì€ trainì—ì„œë§Œ ì§„í–‰í•˜ë¯€ë¡œ, fitì€ ì œê±°.

train.head()

,id,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country
0,3331,34.0,6,177331,15,10,2,9,0,2,1,4386,0,40.0,38
1,19749,58.0,3,290661,11,9,2,2,0,4,1,0,0,40.0,38
2,1157,48.0,3,125933,15,10,6,3,4,2,0,0,1669,38.0,38
3,693,58.0,3,100313,15,10,2,10,0,4,1,0,1902,40.0,38
4,12522,41.0,3,195661,15,10,2,13,0,4,1,0,0,54.0,38

#### **ìŠ¤ì¼€ì¼ë§**
- ìˆ˜ì¹˜í˜• ë°ì´í„°ì˜ ë²”ìœ„ë¥¼ ì¡°ì •í•˜ëŠ” ì‘ì—….



**Min-Max Scaling**
- ë°ì´í„°ë¥¼ 0ê³¼ 1 ì‚¬ì´ë¡œ ë³€í™˜

In [231]:
def get_df() :
    train_copy = train.copy()
    test_copy = test.copy()
    return train_copy, test_copy

In [232]:
from sklearn.preprocessing import MinMaxScaler

train_copy, test_copy = get_df()
cols = ['age','fnlwgt','education.num','capital.gain','capital.loss','hours.per.week'] # ìˆ˜ì¹˜í˜• ë°ì´í„°

scaler = MinMaxScaler()
train_copy[cols] = scaler.fit_transform(train_copy[cols])
test_copy[cols] = scaler.transform(test_copy[cols])

train_copy[cols].head()

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week
0,0.232877,0.112092,0.600000,0.04386,0.000000,0.397959
1,0.561644,0.189060,0.533333,0.00000,0.000000,0.397959
2,0.424658,0.077184,0.600000,0.00000,0.383150,0.377551
3,0.561644,0.059785,0.600000,0.00000,0.436639,0.397959
4,0.328767,0.124541,0.600000,0.00000,0.000000,0.540816

In [233]:
train_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29301 entries, 0 to 29303
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              29301 non-null  int64
 1   age             29301 non-null  float64
 2   workclass       29301 non-null  int32
 3   fnlwgt          29301 non-null  float64
 4   education       29301 non-null  int32
 5   education.num   29301 non-null  float64
 6   marital.status  29301 non-null  int32
 7   occupation      29301 non-null  int32
 8   relationship    29301 non-null  int32
 9   race            29301 non-null  int32
 10  sex             29301 non-null  int32
 11  capital.gain    29301 non-null  float64
 12  capital.loss    29301 non-null  float64
 13  hours.per.week  29301 non-null  float64
 14  native.country  29301 non-null  int32
dtypes: float64(6), int32(8), int64(1)
memory usage: 2.7 MB

**Standard Scaling** 
- ë°ì´í„°ë¥¼ í‰ê· ì´ 0ì´ê³  í‘œì¤€í¸ì°¨ê°€ 1ì¸ ë¶„í¬ë¡œ ë³€í™˜

In [234]:
from sklearn.preprocessing import StandardScaler

train_copy, test_copy = get_df()

scaler = StandardScaler()
train_copy[cols] = scaler.fit_transform(train_copy[cols])
test_copy[cols] = scaler.transform(test_copy[cols])

display(train_copy[cols].head())

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week
0,-0.335138,-0.117705,-0.031462,0.440247,-0.216056,-0.035121
1,1.428574,0.956277,-0.420430,-0.146298,-0.216056,-0.035121
2,0.693694,-0.604783,-0.031462,-0.146298,3.940528,-0.197450
3,1.428574,-0.847573,-0.031462,-0.146298,4.520806,-0.035121
4,0.179278,0.056001,-0.031462,-0.146298,-0.216056,1.101181

**Robust Scaling** 
- ê° ê°’ì˜ ì¤‘ì•™ê°’ì„ ë¹¼ê³  Q1ê³¼ Q3ì˜ ì°¨ì´(ì‚¬ë¶„ìœ„ìˆ˜, IQR)ë¡œ ë‚˜ëˆ„ëŠ” ë°©ë²•
- ì´ìƒì¹˜ì˜ ì˜í–¥ì„ ëœ ë°›ìŒ.

In [235]:
from sklearn.preprocessing import RobustScaler

train_copy, test_copy = get_df()

scaler = RobustScaler()
train_copy[cols] = scaler.fit_transform(train_copy[cols])
test_copy[cols] = scaler.transform(test_copy[cols])

display(train_copy[cols].head())

    age    fnlwgt  education.num  capital.gain  capital.loss  hours.per.week
0 -0.15 -0.008711       0.000000        4386.0           0.0             0.0
1  1.05  0.941438      -0.333333           0.0           0.0             0.0
2  0.55 -0.439627       0.000000           0.0        1669.0            -0.4
3  1.05 -0.654423       0.000000           0.0        1902.0             0.0
4  0.20  0.144966       0.000000           0.0           0.0             2.8

---
#### **5. ê²€ì¦ ë°ì´í„° ë‚˜ëˆ„ê¸°**

- ê²€ì¦ ë°ì´í„°ëŠ” í•™ìŠµ ë°ì´í„°ì˜ ì¼ë¶€ë¥¼ ì‚¬ìš©

`X_train, X_val, y_train, y_val = train_test_split(train, y_train, test_size=0.2, random_state=0)`


- ë°ì´í„° ë¶„í•  ì´í›„ `X_train.shape, X_val.shape`ì˜ ì»¬ëŸ¼ ìˆ˜ëŠ” ì¼ì¹˜í•´ì•¼ í•¨.
- ë°ì´í„° ë¶„í•  ì´í›„ `y_train.shape, y_val.shape`ì—ì„œ ì»¬ëŸ¼ì— 1ì´ ë‚˜íƒ€ë‚˜ì§€ ì•Šì•„ì•¼ í•¨.
    - y ë°ì´í„°ëŠ” ì •ë‹µ ë ˆì´ë¸”ì´ë¯€ë¡œ ì»¬ëŸ¼ ê°œìˆ˜ëŠ” 1ê°œì—¬ì•¼ í•œë‹¤.
    - 1ì°¨ì› êµ¬ì¡°ì´ë¯€ë¡œ, ì»¬ëŸ¼ì—ëŠ” ìˆ«ìê°€ ë‚˜íƒ€ë‚˜ë©´ ì•ˆ ë¨.


(23440,), (5861,) => series í˜•íƒœ ì˜ë¯¸

In [236]:
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(train, y_train, test_size=0.2, random_state=1)
X_train.shape, X_val.shape, y_train.shape, y_val.shape

((23440, 15), (5861, 15), (23440,), (5861,))

---
#### **6. ë¨¸ì‹ ëŸ¬ë‹ í•™ìŠµ ë° í‰ê°€**


**Random Forest**
- ì—¬ëŸ¬ ê°œì˜ ì˜ì‚¬ê²°ì • ë‚˜ë¬´ë¥¼ ê¸°ë°˜ìœ¼ë¡œ í•œ ì•™ìƒë¸” í•™ìŠµ ì•Œê³ ë¦¬ì¦˜


1. `rf = RandomForestClassifier() # ëª¨ë¸ ì„ íƒí•˜ê¸°`
2. `rf.fit(X_train, y_train) # í•™ìŠµ ì§„í–‰`
3. `pred = rf.predict_proba(X_val) # ì˜ˆì¸¡ ì§„í–‰`

In [237]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(random_state=0) # random_state=0ì„ ì„¤ì •í•´ì•¼ ê²°ê³¼ê°’ ê³ ì •ë¨
rf.fit(X_train, y_train) # í•™ìŠµ ì§„í–‰
pred = rf.predict_proba(X_val) # ì˜ˆì¸¡ ì§„í–‰

print(rf.classes_)
pred[:10]

['<=50K' '>50K']

array([[0.86, 0.14],
       [0.53, 0.47],
       [1.  , 0.  ],
       [0.64, 0.36],
       [0.88, 0.12],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [0.91, 0.09],
       [0.82, 0.18],
       [0.91, 0.09]])

**í‰ê°€ì§€í‘œ**
- ë¨¸ì‹ ëŸ¬ë‹ ëª¨ë¸ í•™ìŠµ í›„, ì œëŒ€ë¡œ í•™ìŠµ ë° ì˜ˆì¸¡ì´ ë˜ì—ˆëŠ”ì§€ì— ëŒ€í•œ í‰ê°€ê°€ í•„ìš”.
- ì •í™•ë„(Accuracy), ì •ë°€ë„(Precision), ì¬í˜„ìœ¨(Recall), F1 score, ROC_AUC..

In [238]:
# ROC_AUC
from sklearn.metrics import roc_auc_score

roc_auc = roc_auc_score(y_val, pred[:,1])
print('roc_auc:', roc_auc)

roc_auc: 0.9157221689432705

In [239]:
# Accuracy (ì •í™•ë„)
from sklearn.metrics import accuracy_score

pred = rf.predict(X_val)
accuracy = accuracy_score(y_val, pred)
print('accuracy_score:', accuracy)

accuracy_score: 0.86316328271626

In [240]:
# F1 score
from sklearn.metrics import f1_score

f1 = f1_score(y_val, pred, pos_label='>50K') # ì–‘ì„± í´ë˜ìŠ¤ ì§€ì •
print('f1_score:',f1)

f1_score: 0.6920122887864824

**LightBGM**

- ëœë¤ í¬ë ˆìŠ¤íŠ¸ë³´ë‹¤ ë” ë†’ì€ ì„±ëŠ¥ì„ ë³´ì„.

In [241]:
pip install lightgbm -q

Note: you may need to restart the kernel to use updated packages.

In [242]:
import lightgbm as lgb

lgbmc = lgb.LGBMClassifier(random_state=0, verbose=-1) # verbose=-1 ì€ ë¡œê·¸ ë©”ì„¸ì§€ ìˆ¨ê¹€
lgbmc.fit(X_train, y_train)
pred = lgbmc.predict_proba(X_val)

roc_auc = roc_auc_score(y_val, pred[:,1])
print('roc_auc:', roc_auc)

pred = lgbmc.predict(X_val)
accuracy = accuracy_score(y_val, pred)
print('accuracy:', accuracy)

f1 = f1_score(y_val, pred, pos_label='>50K')
print('f1_score:', f1)

roc_auc: 0.9283022976825719
accuracy: 0.8740829210032418
f1_score: 0.716589861751152

---
#### **7. ì˜ˆì¸¡ ë° ê²°ê³¼ íŒŒì¼ ìƒì„±**
- ì´ì „ ë‹¨ê³„ê¹Œì§€ëŠ” ê²€ì¦ ë°ì´í„° ì˜ˆì¸¡, ìµœì¢… ë‹¨ê³„ì—ì„œëŠ” test ë°ì´í„° ì˜ˆì¸¡
- ìµœì¢… csv íŒŒì¼ì—ì„œëŠ” X_test ë˜ëŠ” y_testì˜ í–‰ ìˆ˜ì™€ ë™ì¼í•´ì•¼ í•¨.

In [243]:
## LightGBMì„ í™œìš©í•œ ì˜ˆì¸¡
pred = lgbmc.predict_proba(test)
pred

array([[0.91420997, 0.08579003],
       [0.96821076, 0.03178924],
       [0.97920447, 0.02079553],
       ...,
       [0.90836567, 0.09163433],
       [0.9877401 , 0.0122599 ],
       [0.99154646, 0.00845354]])

In [244]:
## RandomForestë¥¼ í™œìš©í•œ ì˜ˆì¸¡
pred2 = rf.predict_proba(test)
pred2

array([[0.99, 0.01],
       [0.99, 0.01],
       [0.97, 0.03],
       ...,
       [0.84, 0.16],
       [0.97, 0.03],
       [0.94, 0.06]])

In [ ]:
result = pd.DataFrame({'pred':pred[:,1]})
result.to_csv('result.csv', index=False)

In [ ]:
new = pd.read_csv('result.csv')
new

          pred
0     0.085790
1     0.031789
2     0.020796
3     0.836385
4     0.051083
...        ...
3252  0.014245
3253  0.377803
3254  0.091634
3255  0.012260
3256  0.008454

[3257 rows x 1 columns]

In [248]:
new.shape

(3257, 1)

---
### **ë¨¸ì‹ ëŸ¬ë‹ í‰ê°€ì§€í‘œ**

#### **ì´ì§„ ë¶„ë¥˜ í‰ê°€ì§€í‘œ**
- ì •í™•ë„ (Accuracy)
- ì •ë°€ë„ (Precision)
- ì¬í˜„ìœ¨ (Recall)
- f1-score
- ROC-AUC

In [1]:
import pandas as pd

In [3]:
# ì´ì§„ ë¶„ë¥˜ ë°ì´í„°
y_true = pd.DataFrame([1, 1, 1, 0, 0, 1, 1, 1, 1, 0]) # ì‹¤ì œ ê°’
y_pred = pd.DataFrame([1, 0, 1, 1, 0, 0, 0, 1, 1, 0]) # ì˜ˆì¸¡ê°’

y_true_str = pd.DataFrame(['A', 'A', 'A', 'B', 'B', 'A', 'A', 'A', 'A', 'B']) # ì‹¤ì œ ê°’
y_pred_str = pd.DataFrame(['A', 'B', 'A', 'A', 'B', 'B', 'B', 'A', 'A', 'B']) # ì˜ˆì¸¡ê°’

**ì •í™•ë„ (Accuracy)**
- ì „ì²´ ë°ì´í„° ì¤‘ ì˜¬ë°”ë¥´ê²Œ ì˜ˆì¸¡ëœ ë°ì´í„°ì˜ ë¹„ìœ¨

In [4]:
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(y_true, y_pred)
print('ì •í™•ë„:', accuracy)

accuracy = accuracy_score(y_true_str, y_pred_str)
print('ì •í™•ë„:', accuracy)

ì •í™•ë„: 0.6
ì •í™•ë„: 0.6

**ì •ë°€ë„ (Precision)**
- ì–‘ì„±ìœ¼ë¡œ ì˜ˆì¸¡ëœ ë°ì´í„° ì¤‘ ì‹¤ì œë¡œ ì–‘ì„±ì¸ ë°ì´í„°ì˜ ë¹„ìœ¨

In [6]:
from sklearn.metrics import precision_score

precision = precision_score(y_true, y_pred)
print('ì •ë°€ë„:', precision)

precision = precision_score(y_true_str, y_pred_str, pos_label='A')
print('ì •ë°€ë„:', precision)

ì •ë°€ë„: 0.8
ì •ë°€ë„: 0.8

**ì¬í˜„ìœ¨ (Recall)**
- ì‹¤ì œ ì–‘ì„±ì¸ ë°ì´í„° ì¤‘ ëª¨ë¸ì´ ì–‘ì„±ìœ¼ë¡œ ì˜¬ë°”ë¥´ê²Œ ì˜ˆì¸¡í•œ ë¹„ìœ¨

In [7]:
from sklearn.metrics import recall_score

recall = recall_score(y_true, y_pred)
print('ì¬í˜„ìœ¨:', recall)

recall = recall_score(y_true_str, y_pred_str, pos_label='A')
print('ì¬í˜„ìœ¨:', recall)

ì¬í˜„ìœ¨: 0.5714285714285714
ì¬í˜„ìœ¨: 0.5714285714285714

**F1 score**
- ì •ë°€ë„ì™€ ì¬í˜„ìœ¨ì˜ ì¡°í™” í‰ê· 
- ë¶ˆê· í˜• ë°ì´í„°ë¥¼ í‰ê°€í•˜ëŠ” ë° ì¢‹ìŒ.

In [8]:
from sklearn.metrics import f1_score

f1 = f1_score(y_true, y_pred)
print('f1-score:', f1)

f1 = f1_score(y_true_str, y_pred_str, pos_label='A')
print('f1-score:', f1)

f1-score: 0.6666666666666666
f1-score: 0.6666666666666666

**ROC-AUC**
- ëª¨ë¸ì˜ ë¶„ë¥˜ ì„±ëŠ¥ì„ í‰ê°€í•˜ëŠ” ì§€í‘œ

In [10]:
from sklearn.metrics import roc_auc_score

y_true = pd.DataFrame([0, 1, 0, 1, 1, 0, 0, 0, 1, 1]) # ì‹¤ì œ ê°’
y_pred_proba = pd.DataFrame([0.4, 0.9, 0.1, 0.3, 0.8, 0.6, 0.4, 0.2, 0.7, 0.6]) # ì˜ˆì¸¡ê°’ ì¤‘ ì–‘ì„±(1)ì¼ í™•ë¥ 

roc_auc = roc_auc_score(y_true, y_pred_proba)
print('ROC-AUC:', roc_auc)

# ë¬¸ì í˜•íƒœë„ ë™ì¼í•˜ê²Œ ì ìš©

ROC-AUC: 0.86

---
#### **ë‹¤ì¤‘ ë¶„ë¥˜ í‰ê°€ì§€í‘œ**
- ì´ì§„ ë¶„ë¥˜ í‰ê°€ì§€í‘œì™€ ìœ ì‚¬
- ì •ë°€ë„, ì¬í˜„ìœ¨, f1-scoreëŠ” í‰ê· ì„ ê³„ì‚°í•˜ëŠ” ë°©ì‹, ì¦‰ íŒŒë¼ë¯¸í„°ê°€ í•„ìš”.
    - Macro í‰ê·  : ê° í´ë˜ìŠ¤ì— ëŒ€í•œ í‰ê· ì„ ê³„ì‚°
    - Micro í‰ê·  : ê° í´ë˜ìŠ¤ì— ëŒ€í•œ ì ìˆ˜ë¥¼ ê³„ì‚°
    - Weighted í‰ê·  : ê° í´ë˜ìŠ¤ì— ëŒ€í•œ ê°€ì¤‘ í‰ê· ì„ ê³„ì‚°

In [11]:
y_true = pd.DataFrame([1, 2, 3, 3, 2, 1, 3, 3, 2, 1]) # ì‹¤ì œ ê°’
y_pred = pd.DataFrame([1, 2, 1, 3, 2, 1, 1, 2, 2, 1]) # ì˜ˆì¸¡ê°’

y_true_str = pd.DataFrame(['A', 'B', 'C', 'C', 'B', 'A', 'C', 'C', 'B', 'A']) # ì‹¤ì œ ê°’
y_pred_str = pd.DataFrame(['A', 'B', 'A', 'C', 'B', 'A', 'A', 'B', 'B', 'A']) # ì˜ˆì¸¡ê°’

In [12]:
# ì •ë°€ë„ (Precision)
from sklearn.metrics import precision_score

precision = precision_score(y_true, y_pred, average='macro')
print('ì •ë°€ë„:', precision)

precision = precision_score(y_true_str, y_pred_str, average='macro')
print('ì •ë°€ë„:', precision)

ì •ë°€ë„: 0.7833333333333333
ì •ë°€ë„: 0.7833333333333333

In [13]:
# ì¬í˜„ìœ¨ (Recall)
from sklearn.metrics import recall_score

recall = recall_score(y_true, y_pred, average='micro')
print('ì¬í˜„ìœ¨:', recall)

recall = recall_score(y_true_str, y_pred_str, average='micro')
print('ì¬í˜„ìœ¨:', recall)

ì¬í˜„ìœ¨: 0.7
ì¬í˜„ìœ¨: 0.7

In [14]:
# f1-score
from sklearn.metrics import f1_score

f1 = f1_score(y_true, y_pred, average='weighted')
print('f1-score:', f1)

f1 = f1_score(y_true_str, y_pred_str, average='weighted')
print('f1-score:', f1)

f1-score: 0.6421428571428571
f1-score: 0.6421428571428571

---
#### **íšŒê·€ í‰ê°€ì§€í‘œ**
- ëŒ€ë¶€ë¶„ ì˜¤ì°¨ ì¸¡ì • : 0ì— ê°€ê¹Œìš¸ìˆ˜ë¡ ì„±ëŠ¥ì´ ì¢‹ì€ ëª¨ë¸
    - R-squared(ê²°ì •ê³„ìˆ˜)ëŠ” 1ì— ê°€ê¹Œìš¸ìˆ˜ë¡ ì¢‹ìŒ

In [15]:
# íšŒê·€ ë°ì´í„°
import pandas as pd

y_true = pd.DataFrame([1, 2, 5, 2, 4, 4, 7, 9]) # ì‹¤ì œ ê°’
y_pred = pd.DataFrame([1.14, 2.53, 4.87, 3.08, 4.21, 5.53, 7.51, 10.32]) # ì˜ˆì¸¡ê°’

**MSE**
- Mean Squared Error
- ì‹¤ì œ ê°’ê³¼ ì˜ˆì¸¡ê°’ì˜ ì°¨ì´ë¥¼ ì œê³±í•œ ê°’ì˜ í‰ê·

In [17]:
from sklearn.metrics import mean_squared_error

mse = mean_squared_error(y_true, y_pred)
print('MSE:', mse)

MSE: 0.7339125000000001

**MAE**
- Mean Absolute Error
- ì‹¤ì œ ê°’ê³¼ ì˜ˆì¸¡ê°’ì˜ ì°¨ì´ë¥¼ ì ˆëŒ“ê°’ìœ¼ë¡œ ê³„ì‚°í•œ ê°’ì˜ í‰ê·

In [18]:
from sklearn.metrics import mean_absolute_error

mae = mean_absolute_error(y_true, y_pred)
print('MAE:', mae)

MAE: 0.68125

**ê²°ì •ê³„ìˆ˜ (R-squared)**
- íšŒê·€ì‹ì´ ì–¼ë§ˆë‚˜ ì˜ ì˜ˆì¸¡í•˜ëŠ”ì§€ ë‚˜íƒ€ë‚´ëŠ” ì§€í‘œ
- RÂ²

In [19]:
from sklearn.metrics import r2_score

r2 = r2_score(y_true, y_pred)
print('RÂ²:', r2)

RÂ²: 0.8859941747572815

**RMSE**
- Root Mean Squared Error
- ì‹¤ì œ ê°’ê³¼ ì˜ˆì¸¡ê°’ì˜ ì°¨ì´ë¥¼ ì œê³±í•˜ì—¬ í‰ê· í•œ ê°’

In [20]:
from sklearn.metrics import root_mean_squared_error

rmse = root_mean_squared_error(y_true, y_pred)
print('RMSE:', rmse)

RMSE: 0.8566869323154171

**MSLE**
- Mean Squared Log Error
- ì‹¤ì œ ê°’ê³¼ ì˜ˆì¸¡ê°’ì˜ ë¡œê·¸ë¥¼ ì·¨í•œ í›„ ì°¨ì´ë¥¼ ì œê³±í•´ í‰ê· í•œ ê°’

In [21]:
from sklearn.metrics import mean_squared_log_error

msle = mean_squared_log_error(y_true, y_pred)
print("MSLE:", msle)

MSLE: 0.027278486182156947

**RMSLE**
- Root Mean Squared Error
- ì‹¤ì œ ê°’ê³¼ ì˜ˆì¸¡ê°’ì˜ ë¡œê·¸ë¥¼ ì·¨í•œ í›„ ì°¨ì´ë¥¼ ì œê³±í•´ í‰ê· í•œ ê°’ì˜ ì œê³±ê·¼

In [22]:
from sklearn.metrics import root_mean_squared_log_error

rmsle = root_mean_squared_log_error(y_true, y_pred)
print('RMSLE:', rmsle)

RMSLE: 0.16516199981278062

**MAPE**
- Mean Absolute Percentage Error
- ì˜ˆì¸¡ê°’ê³¼ ì‹¤ì œ ê°’ ì‚¬ì´ì˜ ì˜¤ì°¨ë¥¼ ë°±ë¶„ìœ¨ë¡œ ë‚˜íƒ€ë‚¸ ì§€í‘œ

In [23]:
mape = (abs((y_true - y_pred) / y_true)).mean() * 100
print("MAPE:", mape)

MAPE: 0    20.319048
dtype: float64

---