### ğŸ§  **ë¨¸ì‹ ëŸ¬ë‹ ì‹¤ìŠµ - íšŒê·€**

#### ğŸ“Š **ë¨¸ì‹ ëŸ¬ë‹ ì ˆì°¨**
1. ë¬¸ì œ ì •ì˜ (ë¬¸ì œë¥¼ ì½ê³  íŒŒì•…)
2. í•„ìš”í•œ ë¼ì´ë¸ŒëŸ¬ë¦¬ ë° ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸° (import)
3. EDA(íƒìƒ‰ì  ë°ì´í„° ë¶„ì„)
    - ë°ì´í„° ìƒ˜í”Œ/í¬ê¸°(ìë£Œí˜•, í†µê³„ëŸ‰(ìˆ˜ì¹˜/ë²”ì£¼)), ê²°ì¸¡ì¹˜ í™•ì¸ ë“±
4. ë°ì´í„° ì „ì²˜ë¦¬ 
    - ê²°ì¸¡ì¹˜ ë° ì´ìƒì¹˜ ì²˜ë¦¬, ì¸ì½”ë”©, ìŠ¤ì¼€ì¼ë§ ë“±
5. ê²€ì¦ ë°ì´í„° ë‚˜ëˆ„ê¸°
6. ëª¨ë¸ í•™ìŠµ ë° í‰ê°€
7. ì˜ˆì¸¡ ë° ê²°ê³¼ íŒŒì¼ ìƒì„±

---
#### **1. ë¬¸ì œ ì •ì˜**

**[ë¬¸ì œ]**
- ë°ì´í„° : ì•„ìš¸ë › ë§¤ì¥ì˜ ì œí’ˆ íŒë§¤ ë°ì´í„°
- ì˜ˆì¸¡í•  ê°’(target) : ê° ì œí’ˆì˜ íŒë§¤ ê¸ˆì•¡
    - `Item_Outlet_Sales`(íŒë§¤ê¸ˆì•¡) ì»¬ëŸ¼
- í‰ê°€ ê¸°ì¤€ : RMSE
- ì œì¶œ íŒŒì¼ : ì˜ˆì¸¡ê°’ë§Œ 'result2.csv' íŒŒì¼ë¡œ ìƒì„±í•¨. (ì»¬ëŸ¼ëª…: pred, 1ê°œ)

---


#### **2. í•„ìš”í•œ ë¼ì´ë¸ŒëŸ¬ë¦¬ ë° ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°**

In [1]:
import pandas as pd

train = pd.read_csv('train2.csv')
test = pd.read_csv('test2.csv')

---
#### **3. EDA (íƒìƒ‰ì  ë°ì´í„° ë¶„ì„)**

In [2]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6818 entries, 0 to 6817
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            6818 non-null   object
 1   Item_Weight                5656 non-null   float64
 2   Item_Fat_Content           6818 non-null   object
 3   Item_Visibility            6818 non-null   float64
 4   Item_Type                  6818 non-null   object
 5   Item_MRP                   6818 non-null   float64
 6   Outlet_Identifier          6818 non-null   object
 7   Outlet_Establishment_Year  6818 non-null   int64
 8   Outlet_Size                4878 non-null   object
 9   Outlet_Location_Type       6818 non-null   object
 10  Outlet_Type                6818 non-null   object
 11  Item_Outlet_Sales          6818 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 639.3+ KB

In [3]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1705 entries, 0 to 1704
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            1705 non-null   object
 1   Item_Weight                1404 non-null   float64
 2   Item_Fat_Content           1705 non-null   object
 3   Item_Visibility            1705 non-null   float64
 4   Item_Type                  1705 non-null   object
 5   Item_MRP                   1705 non-null   float64
 6   Outlet_Identifier          1705 non-null   object
 7   Outlet_Establishment_Year  1705 non-null   int64
 8   Outlet_Size                1235 non-null   object
 9   Outlet_Location_Type       1705 non-null   object
 10  Outlet_Type                1705 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 146.7+ KB

In [4]:
print(train.shape)
print(test.shape)

(6818, 12)
(1705, 11)

In [5]:
print(train.isnull().sum())
print(test.isnull().sum())

Item_Identifier                 0
Item_Weight                  1162
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1940
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64
Item_Identifier                0
Item_Weight                  301
Item_Fat_Content               0
Item_Visibility                0
Item_Type                      0
Item_MRP                       0
Outlet_Identifier              0
Outlet_Establishment_Year      0
Outlet_Size                  470
Outlet_Location_Type           0
Outlet_Type                    0
dtype: int64

In [6]:
train.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,5656.000000,6818.000000,6818.000000,6818.000000,6818.000000
mean,12.872703,0.066121,140.419533,1997.885890,2190.941459
std,4.651034,0.051383,62.067861,8.339795,1706.131256
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.785000,0.026914,93.610050,1987.000000,836.577700
50%,12.600000,0.053799,142.448300,1999.000000,1806.648300
75%,17.000000,0.095273,185.060150,2004.000000,3115.944000
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

---


#### **4. ë°ì´í„° ì „ì²˜ë¦¬**
##### ìŠ¤ì¼€ì¼ë§ ì§„í–‰ ì „ê³¼ í›„ì˜ ëª¨ë¸ ì„±ëŠ¥ ë¹„êµ

In [7]:
## ì •ë‹µ label ë³€ìˆ˜ì— ì˜®ê¸´ í›„ ë°ì´í„°ì…‹ ë³‘í•©
y_train = train.pop('Item_Outlet_Sales')
df = pd.concat([train, test], axis=0)

## ë ˆì´ë¸” ì¸ì½”ë”©
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
cols = train.select_dtypes(include='object').columns

for col in cols :
    df[col] = le.fit_transform(df[col])

train = df.iloc[:len(train)].copy()
test = df.iloc[len(train):].copy()

# print(train.shape, test.shape)

## ê²°ì¸¡ì¹˜ ëŒ€ì²´
train['Item_Weight'] = train['Item_Weight'].fillna(train['Item_Weight'].mean())
train['Outlet_Size'] = train['Outlet_Size'].fillna(train['Outlet_Size'].mode()[0])

test['Item_Weight'] = test['Item_Weight'].fillna(test['Item_Weight'].mean())
test['Outlet_Size'] = test['Outlet_Size'].fillna(test['Outlet_Size'].mode()[0])

# print(train.isnull().sum())
# print(test.isnull().sum())

## ì»¬ëŸ¼ ì‚­ì œ
train.drop('Item_Identifier', axis=1, inplace=True)
test.drop('Item_Identifier', axis=1, inplace=True)

## ìŠ¤ì¼€ì¼ë§ (ìƒëµ ê°€ëŠ¥)
# from sklearn.preprocessing import MinMaxScaler

# minmax = MinMaxScaler()
# cols = ['Item_Weight','Item_Visibility','Item_MRP','Outlet_Establishment_Year']

# train[cols] = minmax.fit_transform(train[cols])
# test[cols] = minmax.transform(test[cols])

---
#### **5. ê²€ì¦ ë°ì´í„° ë‚˜ëˆ„ê¸°**

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(train, y_train, test_size=0.2, random_state=42)

X_train.shape, X_val.shape, y_train.shape, y_val.shape

((5454, 10), (1364, 10), (5454,), (1364,))

---
#### **6. ë¨¸ì‹ ëŸ¬ë‹ í•™ìŠµ ë° í‰ê°€**
- ì„ í˜• íšŒê·€
- ëœë¤ í¬ë ˆìŠ¤íŠ¸
- LightGBM

In [9]:
## ì„ í˜• íšŒê·€
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
from sklearn.metrics import root_mean_squared_error

lr = LinearRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict(X_val)

mse = mean_squared_error(y_val, y_pred)
print('MSE:', mse)

mae = mean_absolute_error(y_val, y_pred)
print('MAE:', mae)

r2 = r2_score(y_val, y_pred)
print('R2-score:', r2)

rmse = root_mean_squared_error(y_val, y_pred)
print('RMSE:', rmse)

MSE: 1441812.6369310766
MAE: 892.5632580973821
R2-score: 0.5172158035423333
RMSE: 1200.755027860003

In [10]:
## ëœë¤ í¬ë ˆìŠ¤íŠ¸
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor()
rf.fit(X_train, y_train)
y_pred = rf.predict(X_val)

mse = mean_squared_error(y_val, y_pred)
print('MSE:', mse)

mae = mean_absolute_error(y_val, y_pred)
print('MAE:', mae)

r2 = r2_score(y_val, y_pred)
print('R2-score:', r2)

rmse = root_mean_squared_error(y_val, y_pred)
print('RMSE:', rmse)

MSE: 1171518.6540172105
MAE: 759.8072649076247
R2-score: 0.607722475495335
RMSE: 1082.3671530572287

In [11]:
## LightGBM
import lightgbm as lgb

model = lgb.LGBMRegressor(random_state=0, verbose=-1)
model.fit(X_train, y_train)
y_pred = model.predict(X_val)

mse = mean_squared_error(y_val, y_pred)
print('MSE:', mse)

mae = mean_absolute_error(y_val, y_pred)
print('MAE:', mae)

r2 = r2_score(y_val, y_pred)
print('R2-score:', r2)

rmse = root_mean_squared_error(y_val, y_pred)
print('RMSE:', rmse)

MSE: 1161959.080485737
MAE: 745.9307379894622
R2-score: 0.6109234538386057
RMSE: 1077.9420580373219

---
#### **7. ì˜ˆì¸¡ ë° ê²°ê³¼ íŒŒì¼ ìƒì„±**

In [12]:
pred = model.predict(test)
pred

array([1358.60132337,  769.5869624 , 1908.01527082, ..., 4123.71144336,
        834.65130901, 1320.83502939])

In [13]:
result = pd.DataFrame({'pred':pred})
result.to_csv('result2.csv', index=False)

In [14]:
result.shape

(1705, 1)