### **Pandas 작업형 문제 1**
### **'type1_data1.csv' 이용**
#### 왜 각 cell마다 `get_df()`를 쓰는가?
- 하나의 데이터프레임을 가지고 다양한 작업을 하므로, 원본 데이터가 손상되지 않도록 하기 위함
- `df.copy()`로 df를 복사한 데이터프레임을 새로운 변수에 할당함으로 원본 데이터는 변동 x
---

In [2]:
import pandas as pd
import numpy as np

In [3]:
def get_df() :
    return pd.read_csv('type1_data1.csv')

In [4]:
## 01

df = get_df()
df2 = df.copy()

# 0 제외
cond = df2['f5'] != 0
df2 = df2.loc[cond]

# 'views' 컬럼 결측치 최솟값으로 채우기
df2['views'] = df2['views'].fillna(df2['views'].min())

# 'views' 컬럼 중앙값 정수로 계산
print(int(df2['views'].median()))

5924

In [5]:
## 02

df = get_df()
df2 = df.copy()

# 'subscribed' 컬럼에서 가장 빈도수가 많은 날짜 구하기
day = df2['subscribed'].mode()[0]

# 해당 날짜의 일 값을 정수로 구하기
int(day[8:])

17

In [6]:
## 03

df = get_df()
df2 = df.copy()

# 결측치가 있는 데이터 제거
df2 = df2.dropna()

# 'views' 컬럼을 'f1' 컬럼으로 나눈 값을 새로운 컬럼으로 추가
df2['new_col'] = df2['views'] / df2['f1']

# 새로운 컬럼 값 중 가장 큰 값을 가진 행의 age를 정수로 구하기
df2 = df2.sort_values('new_col', ascending=False)
int(df2.iloc[0,1])

22

In [7]:
## 04

df2 = df.copy()

# 'views' 컬럼의 결측 데이터를 0으로 대체
df2['views'] = df2['views'].fillna(0)

# 'views' 컬럼의 상위 10번째 값 구하기
df2 = df2.sort_values('views', ascending=False)

# 'views' 컬럼에서 상위 10개의 값을 상위 10번째 값으로 대체하기
min_views = df2.iloc[:10]['views'].min()
df2.loc[df2.index[:10], 'views'] = min_views

# 'views' 컬럼의 전체 합을 정수로 구하기
int(df2['views'].sum())

652812

In [8]:
## 05

df = get_df()
df2 = df.copy()

# 'f4' 컬럼에서 'FJ'가 포함된 데이터 찾기
f4_fj = df2[df2['f4'].str.contains('FJ')]

# 해당 데이터 중에서 'f2' 컬럼의 평균값 구하기
round(f4_fj['f2'].mean(), 2)

0.61

In [9]:
## 06

df = get_df()
df2 = df.copy()

# 'f3' 컬럼이 gold이면서 'f2' 컬럼이 2인 데이터 찾기
cond = (df2['f3'] == 'gold') & (df2['f2'] == 2)

# 찾은 데이터에서 'f1' 컬럼의 분산 구하기(소수점 둘째 자리까지)
round(df2[cond]['f1'].var(), 2)

235.43

In [10]:
## 07

df = get_df()
df2 = df.copy()

# 모든 age에 1 더하기
df2['age'] = df2['age'] + 1

# 20대의 'views' 평균과 30대의 'views' 평균의 차이의 절댓값 구하기(소수점 둘째 자리까지)
cond1 = (df2['age'] >= 20) & (df2['age'] < 30)
cond2 = (df2['age'] >= 30) & (df2['age'] < 40)

result = abs(df2[cond1]['views'].mean() - df2[cond2]['views'].mean())
print(round(result, 2))

263.13

In [11]:
## 08 -- 풀이 1

df = get_df()
df2 = df.copy()

# 'subscribed' 컬럼이 2024년 2월인 데이터 찾기
df2 = df2.loc[df2['subscribed'].str.contains('2024-02')]

# 해당 데이터 중 'f3' 컬럼이 gold인 데이터 개수 구하기
len(df2.loc[df2['f3'] == 'gold'])

5

In [12]:
## 08 -- 풀이 2

df = get_df()
df2 = df.copy()

# 'subscribed' 컬럼이 2024년 2월인 데이터 찾기
df2['subscribed'] = pd.to_datetime(df2['subscribed'])

df2['year'] = df2['subscribed'].dt.year
df2['month'] = df2['subscribed'].dt.month

# 해당 데이터 중 'f3' 컬럼이 gold인 데이터 개수 구하기
len(df2.loc[(df2['year'] == 2024) & (df2['month'] == 2) & (df2['f3'] == 'gold')])

5

In [13]:
## 09

df = get_df()
df2 = df.copy()

# 'views' 컬럼 값이 1000 이하인 데이터 찾기(결측치 제외)
df2 = df2[df2['views'] <= 1000]

# 해당 데이터 중 'f4' 컬럼의 최빈값 구하기
df2['f4'].mode()[0]
# 또는 df2['f4'].value_counts().index[0]

'ISFJ'

In [14]:
## 10

df = get_df()
df2 = df.copy()

# 결측치 있는 행 삭제
df2 = df2.dropna()

# 결측치가 삭제된 데이터를 사용하여 지역별(city) 평균 계산
df2 = df2.groupby('city').mean(numeric_only=True)

# 해당 데이터에서 'f2' 컬럼 값이 가장 큰 지역 구하기
df2.sort_values('f2', ascending=False).index[0]
# 또는 df2['f2'].idxmax()

'서울'

In [15]:
## 11

df = get_df()
df2 = df.copy()

# 결측치 있는 행 삭제
df2 = df2.dropna()

# 해당 데이터의 앞부터 70% 데이터 구하기
per_70 = int(len(df2) * 0.7)
df2 = df2.iloc[:per_70]

# 해당 데이터 중 'views'컬럼의 3사분위수에서 1사분위수를 뺀 값을 정수로 구하기
int(df2['views'].quantile(0.75) - df2['views'].quantile(0.25))

2771

**`df2 = df2.iloc[:per_70]` 에서 loc가 아닌 iloc를 사용하는 이유**



`loc[]` 는 index 번호를 포함한다. 주어진 df2는 결측치가 있는 행을 제거하여 index가 연속된 수로 형성되어 있지 않음.



따라서 `iloc[]` 를 사용하여 슬라이싱 해야 함.

In [16]:
## 12

df = get_df()
df2 = df.copy()

# 결측치가 가장 많은 두 컬럼 찾기
df2.isnull().sum().sort_values(ascending=False)

# 첫 번째로 결측치가 많은 컬럼에서 결측치 행 제거
df2 = df2.dropna(subset=['f1'])

# 두 번째로 결측치가 많은 컬럼은 최빈값으로 대체
df2['f3'] = df2['f3'].fillna(df2['f3'].mode()[0])

# 'f3' 컬럼의 'gold' 값을 가진 데이터의 수를 정수형으로 구하기
int(len(df2[df2['f3'] == 'gold']))

63

In [17]:
## 13

df = get_df()
df2 = df.copy()

# 'f1' 컬럼에 결측치가 있는 데이터만 선택
df2 = df2.loc[df2['f1'].isnull()]

# 해당 데이터에서 'age' 컬럼의 평균값 구하기(소수점 첫째 자리까지)
round(df2['age'].mean(), 1)

53.6

In [18]:
## 14

df = get_df()
df2 = df.copy()

# 중복 데이터 제거
df2 = df2.drop_duplicates()

# 'f3' 컬럼의 결측치는 0, 'silver'는 1, 'gold'는 2, 'vip'는 3으로 변환하기
# df2['f3'] = df2['f3'].replace(np.NaN, 0).replace('silver', 1).replace('gold', 2).replace('vip', 3)
# ----↓----------↓---------↓---------
## 아래 코드가 더 간결하고 정확함
dic = {np.NaN: 0, 'silver': 1, 'gold': 2, 'vip': 3}
df2['f3'] = df2['f3'].map(dic)

# 변환된 'f3' 컬럼의 총합 정수형으로 구하기
int(df2['f3'].sum())

167

In [19]:
## 15 -- 풀이 1

df = get_df()
df2 = df.copy()

# 문자 자료형 컬럼 삭제
df2 = df2.drop(columns=df2.select_dtypes(include=object))
# df2 = df2.select_dtypes(exclude=object) # 문자 자료형 컬럼을 제외한 행만 선택

# 숫자 자료형 컬럼의 결측치를 0으로 대체
df2 = df2.fillna(0)

# 각 행의 합이 3000보다 큰 값의 개수를 정수로 구하기
# df2['sum'] = df2['age'] + df2['f1'] + df2['f2'] + df2['f5'] + df2['views']
df2['sum'] = df2.sum(axis=1)
int(len(df2.loc[df2['sum'] >= 3000]))

88

In [20]:
## 15 -- 풀이 2

df = get_df()
df2 = df.copy()

# 문자 자료형 컬럼 삭제
df2 = df2.drop(columns=df2.select_dtypes(include=object))
# df2 = df2.select_dtypes(exclude=object) # 문자 자료형 컬럼을 제외한 행만 선택

# 숫자 자료형 컬럼의 결측치를 0으로 대체
df2 = df2.fillna(0)

# 각 행의 합이 3000보다 큰 값의 개수를 정수로 구하기
df2 = df2.T # 행, 열 전치
sum(df2.sum() > 3000)

88

각 행의 합을 더하는 방법에는 3가지가 있다.
1. 각 컬럼명을 하나하나 입력하여 더한 값을 새로운 컬럼명에 저장하기.
2. **축을 설정하여 행끼리 더하기.**
3. 행과 열을 전치하여 `sum()` 함수로 열끼리 더하기.

축을 설정하는 방법에는 2가지가 있다.
1. `axis=0` --> 기본값. 열의 합 (세로 방향으로 더함)
2. `axis=1` --> 행의 합 (가로 방향으로 더함)

In [21]:
## 16

df = get_df()
df2 = df.copy()

#'views'컬럼의 1사분위수, 3사분위수, IQR 계산하기
q1 = df['views'].quantile(.25)
q3 = df['views'].quantile(.75)
iqr = q3 - q1

# 이상치 조건에 맞는 데이터 찾기
# (이상치: 1사분위수 - (IQR * 1.5)보다 작은 값, 3사분위수 + (IQR * 1.5)보다 큰 값)
data1 = q1 - iqr * 1.5
data2 = q3 + iqr * 1.5

cond1 = df2['views'] < data1
cond2 = df2['views'] > data2
df2 = df2[cond1 | cond2]

# 이상치 데이터의 'views' 컬럼 합 정수로 구하기
int(df2['views'].sum())

77699

In [22]:
## 17

df = get_df()
df2 = df.copy()

# 'views' 컬럼의 표준편차 구하기
std_be = df2['views'].std()

# 'age' 컬럼의 이상치(소수점 나이, 음수 나이, 0살) 제거 후, 'views' 컬럼의 표준편차 구하기
df2 = df2[df2['age'] > 0] # 음수, 0살 제거
df2 = df2[df2['age'].apply(float.is_integer)] # 소수점 나이 제거
# 또는 filter_age = df2['age'] == round(df2['age'], 0)
#      df2 = df2[filter_age]
std_af = df2['views'].std()

# 이상치 제거 전후의 'views' 컬럼의 표준편차를 더해, 반올림 후 소수점 둘째 자리까지 구하기
round(std_be + std_af, 2)

8297.31

`filter_age = df2['age'] == round(df2['age'], 0)`



`df2 = df2[filter_age]`

=> 반올림한 값이 현재 값과 같으면 정수 나이라고 판단.


ex) 23.4를 반올림한 값은 23.0, 23.4 != 23.0 이므로 소수점 나이라고 판별 가능

In [23]:
## 19

df = get_df()
df2 = df.copy()

# 결측치를 바로 뒤에 있는 값으로 대체
# (뒤 값도 결측치일 경우, 뒤에 있는 데이터 중 가장 가까운 데이터 값으로 대체)
df2 = df2.bfill()
# df2.fillna(method='bfill') 도 가능하지만 위 코드를 권장

# 'city'와 'f2' 컬럼을 기준으로 그룹합 계산
df2 = df2.groupby(['city','f2']).sum(numeric_only=True).reset_index()

# 'views' 값이 세 번째로 큰 city 이름 구하기
df2.sort_values('views',ascending=False).city[2]

'경기'

In [24]:
## 20

df = get_df()
df2 = df.copy()

# 연도 구분 없이 월별로 숫자형 컬럼 합 구하기
df2['month'] = pd.to_datetime(df2['subscribed']).dt.month
df2 = df2.groupby('month').sum(numeric_only=True)

# 합계 중 'views'가 가장 작은 값을 가진 월을 정수로 구하기
df2.sort_values('views').index[0]

11

---
### **type1_data2.csv 이용**

In [25]:
def get_df() :
    return pd.read_csv('type1_data2.csv', index_col='year')

In [26]:
## 18

df = get_df()
df2 = df.copy()

# index '2001' 데이터에서 평균보다 큰 값의 개수 구하기
mean_2001 = df2.loc[2001].mean()
sum1 = sum(df2.loc[2001] > mean_2001)

# index '2003' 데이터에서 평균보다 작은 값의 개수 구하기
mean_2003 = df2.loc[2003].mean()
sum2 = sum(df2.loc[2003] < mean_2003)

# 두 개수 더하기 
sum1 + sum2

202

---
### **delivery_time.csv 이용**

In [27]:
def get_df() :
    return pd.read_csv('delivery_time.csv')

In [28]:
## 21

df = get_df()
df2 = df.copy()

# '예상도착시간'보다 늦게 도착한 건수 구하기
cols = ['주문시간','실제도착시간','예상도착시간']
df2[cols] = df2[cols].apply(pd.to_datetime)

df2 = df2.loc[df2['예상도착시간'] < df2['실제도착시간']]

# 해당 데이터 중 거리가 7km 이상인 데이터의 수 정수로 구하기
len(df2[df2['거리'] > 7])

311

In [29]:
## 22

df = get_df()
df2 = df.copy()

# '주문시간'과 '실제도착시간'의 차이 분 단위로 계산
df2['주문시간'] = pd.to_datetime(df2['주문시간'])
df2['실제도착시간'] = pd.to_datetime(df2['실제도착시간'])

df2['diff'] = (df2['실제도착시간'] - df2['주문시간']).dt.total_seconds() / 60

# 앱 종류별 평균 도착 시간 계산
df2 = df2.groupby('앱종류')['diff'].mean()

# 평균적으로 가장 빠른 앱 종류 찾고, 해당 앱의 평균 도착 시간 반올림하여 정수로 구하기
print(round(df2.min()))

62

In [30]:
## 23

df = get_df()
df2 = df.copy()

# 각 '결제종류'별로 '실제도착시간'이 '예상도착시간'보다 늦은 주문의 비율 계산하기
df2['실제도착시간'] = pd.to_datetime(df2['실제도착시간'])
df2['예상도착시간'] = pd.to_datetime(df2['예상도착시간'])

df2['지연시간'] = (df2['실제도착시간'] - df2['예상도착시간']).dt.total_seconds() / 60
df2['지연여부'] = df2['지연시간'] > 0

# 비율 중 가장 큰 값을 반올림하여 소수 둘째 자리까지 구하기
round(df2.groupby('결제종류')['지연여부'].mean().values[0], 2)

0.56

In [31]:
## 24

df = get_df()
df2 = df.copy()

# 사용자별 주문 거리의 합계가 50km 이상인 사람들의 결제방식 구하기
distance = df2.groupby('user')['거리'].sum()
cond = distance >= 50
distance = distance[cond]

# 가장 빈도가 많은 결제방식 개수 구하기
new_df2 = df2[df2['user'].isin(distance.index)]
new_df2['결제종류'].value_counts()[0]

C:\Users\joajo\AppData\Local\Temp\ipykernel_24036\1996285722.py:13: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  new_df2['결제종류'].value_counts()[0]

48

In [32]:
## 25

df = get_df()
df2 = df.copy()

# 각 사용자별 첫 주문과 마지막 주문 사이의 시간 간격을 일 단위로 계산
df2['주문시간'] = pd.to_datetime(df2['주문시간'])

first_order = df2.groupby('user')['주문시간'].min()
last_order = df2.groupby('user')['주문시간'].max()

diff = (last_order - first_order).dt.days

# 시간차가 0일인 사용자를 제외하고, 나머지 사용자들의 평균 시간 간격(일 단위) 계산하기
cond = diff == 0
mean_time = diff[~cond].mean()

# 평균 시간 간격보다 긴 시간 간격을 가진 사용자의 수를 정수로 구하기
len(diff[diff > mean_time])

146

In [33]:
## 26

df = get_df()
df2 = df.copy()

# 주문이 가장 많이 발생한 연-월 구하기
df2['주문시간'] = pd.to_datetime(df2['주문시간'])
df2['year_month'] = df2['주문시간'].dt.to_period('M')
high_ym = df2['year_month'].value_counts().idxmax()

# 해당 연-월에 '배고팡' 앱을 통한 주문 중, '앱결제'로 결제된 주문의 비율 구하기 (소수점 둘째 자리까지)
cond1 = df2['year_month'] == high_ym
cond2 = df2['앱종류'] == '배고팡'
df2 = df2[cond1 & cond2]

round(len(df2.loc[df2['결제종류'] == '앱결제']) / len(df2), 2)

0.31

In [34]:
## 27

df = get_df()
df2 = df.copy()

# 점심시간(10-13시)에 주문된 배달 데이터 찾기
df2['주문시간'] = pd.to_datetime(df2['주문시간'])
df2['실제도착시간'] = pd.to_datetime(df2['실제도착시간'])

df2['시간'] = df2['주문시간'].dt.hour
cond = (df2['시간'] >= 10) & (df2['시간'] <= 13)
df2 = df2[cond]

# 점심시간 주문 건 중 과속(평균 속도가 50km/h 이상)하는 주문 수를 정수로 구하기
df2['배달시간'] = (df2['실제도착시간'] - df2['주문시간']).dt.total_seconds() / 60 / 60
df2['시속'] = df2['거리'] /df2['배달시간']
len(df2.loc[df2['시속'] >= 50])

1

In [35]:
## 28

df = get_df()
df2 = df.copy()

# 연도와 월을 기준으로 주문 수 집계하기
df2['주문시간'] = pd.to_datetime(df2['주문시간'])
df2['연월'] = df2['주문시간'].dt.to_period('M')
order_ym = df2.value_counts('연월').index[0]

# 가장 많은 주문이 있었던 연도와 월을 숫자로만 구하기 (ex. 202410)
str(order_ym).replace("-", "")

'202209'

In [36]:
## 29

df = get_df()
df2 = df.copy()

# 배달료 계산 기준표에 따라 각 주문에 대한 배달료 계산하기
def delivery_distance(distance) :
    if distance < 5 : return 2000
    elif distance >= 5 and distance < 10 : return 4000 # elif distance < 10도 가능.
    elif distance >= 10 and distance < 15 : return 6000
    else : return 8000

df2['배달료'] = df2['거리'].apply(delivery_distance)

# 월별 배달료의 총합 집계하기
df2['주문월'] = pd.to_datetime(df2['주문시간']).dt.month
df2 = df2.groupby('주문월')['배달료'].sum()

# 배달료가 가장 많이 발생한 월을 찾고, 그 월의 총 배달료를 정수로 구하기
month = df2.sort_values(ascending=False).idxmax()
df2[month]

448000

**배달료 기준표**
|거리|비용|
|---|---|
|5km 미만|2,000원|
|5km 이상~10km 미만|4,000원|
|10km 이상~15km 미만|6,000원|
15km 이상~20km 미만| 8,000원|

In [42]:
## 30

df = get_df()
df2 = df.copy()

# 주말 주문 건수와 평일 주문 건수 구하기
df2['평일/주말'] = pd.to_datetime(df2['주문시간']).dt.dayofweek
df2['주말'] = df2['평일/주말'] >= 5

# 주말 주문 건수와 평일 주문 건수의 차이를 절대값으로 구하고 정수형으로 구하기
abs(len(df2[df2['주말'] == False]) - len(df2[df2['주말'] == True]))

412

**주말과 평일을 구분하는 함수**


`dt.dayofweek`


0 : 월 / 1 : 화 / 2 : 수 / 3 : 목 / 4 : 금 / 5 : 토 / 6 : 일

In [56]:
## 31

# 'user' 컬럼에서 user 뒤에 있는 숫자 값만 추출하기
df2['user_num'] = df2['user'].str.split('_').str[1].astype(int)

# 추출된 숫자 값을 모두 합한 값을 정수로 구하기
df2['user_num'].sum()

261387

---
### **school_data.csv 이용**

In [75]:
def get_df() :
    return pd.read_csv('school_data.csv')

def get_df_sc() :
    return pd.read_csv('school_data_science.csv')

def get_df_so() :
    return pd.read_csv('school_data_social.csv')

In [69]:
## 32

df = get_df()
df2 = df.copy()

# 수학, 영어, 국어 점수의 합 구하기
df2['sum'] = df2['수학'] + df2['영어'] + df2['국어']

# 합이 가장 큰 상위 10명 찾기
df2 = df2.sort_values('sum', ascending=False)[:10]

# 찾은 10명의 수학 평균 점수 구하기 (반올림 후 정수 출력)
int(round(df2['수학'].sum() / 10, 0))

82

`nlargest()` : `nlargest(10, sum)`
- sum 열을 기준으로 상위 10명 선택 


`nsmallest()` : `nsmallest(10, sum)`
- sum 열을 기준으로 하위 10명 선택

In [74]:
## 33

df = get_df()
df2 = df.copy()

# 과목에 상관없이 점수가 가장 작은 점수 25개 찾기
df2 = df2.melt(id_vars=['이름'], value_vars=['수학', '영어', '국어'])
df2 = df2.sort_values('value')[:25]

# 찾은 점수 25개의 합을 정수로 구하기
df2['value'].sum()

420

In [86]:
## 34

df = get_df()
df2 = df.copy()

df_sc = get_df_sc()
df_sc2 = df_sc.copy()

# 주어진 두 파일을 학생 순서를 기준으로 병합하기
df_merge = pd.concat([df2, df_sc2], axis=1)

# 학생별 수학, 영어, 국어, 과학 점수 평균 구하기
df_mean = df_merge.sum(axis=1, numeric_only=True) / 4

# 평균 점수가 60점 이상인 인원 수 계산하기
len(df_mean[df_mean >= 60])

9

In [98]:
## 35

df = get_df()
df2 = df.copy()

df_so = get_df_so()
df_so2 = df_so.copy()

# 두 파일을 '이름' 기준으로 합치기
df_merge2 = pd.merge(df2, df_so2, on='이름')

# 영어교사가 장선생이면서 사회교사가 오선생인 학생들 필터링하기
cond1 = df_merge2['영어교사'] == '장선생'
cond2 = df_merge2['사회교사'] == '오선생'

df_merge2 = df_merge2[cond1 & cond2]

# 필터링된 학생들의 수학 점수를 모두 더한 후 정수로 구하기
df_merge2['수학'].sum()

602

---
### **sales.csv 이용**

In [99]:
def get_df() :
    return pd.read_csv('sales.csv')

In [109]:
## 36

df = get_df()
df2 = df.copy()

# 결측된 판매금액은 해당 지역의 평균 판매금액으로 결측값 대체하기
df2['지역평균판매금액'] = df2.groupby('지역코드')['판매금액'].transform('mean')
df2['판매금액'] = df2['판매금액'].fillna(df2['지역평균판매금액'])
df2

# 각 거래마다 '판매금액'과 해당 지역의 평균 판매금액의 '차이'를 절댓값으로 구하기
df2['차이'] = abs(df2['판매금액'] - df2['지역평균판매금액'])

# 각 지역에서 차이값의 평균을 구한 후, 이 값이 가장 큰 지역의 지역코드 구하기
df2.groupby('지역코드')['차이'].mean().idxmax()

103

---
### **store_sales.csv 이용**

In [110]:
def get_df() :
    return pd.read_csv('store_sales.csv')

In [121]:
## 37

df = get_df()
df2 = df.copy()

# 각 행에서 판매수량과 단가를 이용하여 매출액 계산하기
df2['매출액'] = df2['판매수량'] * df2['단가']

# 요일을 평일과 주말로 구분하고, 매장별 평일과 주말 매출액 합계 구하기
days = {'월':'평일', '화':'평일', '수':'평일', '목':'평일', '금':'평일', '토':'주말', '일':'주말'}
df2['평일/주말'] = df2['요일'].map(days)

# 매장별 평일과 주말 매출액 차이를 절댓값으로 구하기
df2_diff = df2.groupby(['매장코드','평일/주말'])['매출액'].sum().unstack()
df2_diff['차이'] = abs(df2_diff['평일'] - df2_diff['주말'])

# 이후 모든 매장 중 가장 큰 절댓값 차이 찾기 
df2_diff['차이'].max()

241975

---
### **region_sales.csv 이용**

In [122]:
def get_df() :
    return pd.read_csv('region_sales.csv')

In [129]:
## 38

df = get_df()
df2 = df.copy()

# 각 Region과 Channel 조합별로 product A, B의 총 판매액 계산하기
df2_prod = df2.pivot_table(index=['Region','Channel'],
               columns='Product', values='Sales', aggfunc='sum')

# 제품 A의 매출 비율 구하기 (제품 A 판매액/(제품 A 판매액 + 제품 B 판매액))
df2_prod['A비율'] = df2_prod['A'] / (df2_prod['A'] + df2_prod['B'])

# A 비율 중 최댓값을 찾아 반올림하여 소수 둘째 자리까지 구하기
round(df2_prod['A비율'].max(), 2)

0.51

---
### **monthly_sales.csv 이용**

In [130]:
def get_df() :
    return pd.read_csv('monthly_sales.csv')

In [143]:
## 39

df = get_df()
df2 = df.copy()

# Region과 월(Jan, Feb, Mar)별 매출 합계를 구하기
df2 = df2.melt(id_vars='Region',
         value_vars=['Jan','Feb','Mar'],
         var_name='Month',
         value_name='Sales')

df2 = df2.pivot_table(index='Region', columns='Month', values='Sales', aggfunc='sum')

# 위 결과 중, Sales가 1400을 초과하는 경우가 몇 건인지 구하기
(df2.values > 1400).sum()

6